* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #9f9e9ef4;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    align-items: center;

    .box {
        height: 320px;
        width: 250px;
        background: #fff;
        border-radius: 20px;
        margin-right: 20px;

        .box1 {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 50%;
            width: 100%;
            background: #4071F4;
            border-bottom-left-radius: 20px;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;

            img {
                border: 2px solid white;
                width: 80px;
                height: 80px;
                border-radius: 50%;
                cursor: pointer;
                object-fit: cover;
            }
        }

        .box2 {
            background: white;
            height: 50%;
            border-top-right-radius: 20px;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;

            h2 {
                font-size: 18px;
                text-align: center;
                padding-top: 10px;
            }

            p {
                text-align: center;
                font-size: 14px;
                line-height: 16px;
            }

            button {
                margin-left: 30%;
                padding: 4px 20px;
                margin-top: 4px;
            }
        }
    }
}
@media screen and (max-width: 768px) {
    .container{
        flex-direction: column;
    }.box{
        margin-top: 20px;
    }
}